*{
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body{
  background: rgb(159, 181, 187);
}


a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover{
  color: white;
}

a:active{
  color: white;
}

.rund{
  display: block;
  border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
}

.start{
  float: left;
  margin-left: 80px;
  margin-top: 20px;
  width: 150px;
}

.name{
  float: right;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 30pt;
  color: rgb(50, 50, 50);
  margin-right: 80px;
  margin-top: 35px;
}

.content{
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 250px;
}

h1{
  font-family: 'Cabin Sketch', sans-serif;
  text-align: center;
  font-size: 50pt;
  color: rgb(50, 50, 50);
  font-weight: 700;
  margin-bottom: 100px;
}

h2{
  font-family: 'Cabin Sketch', sans-serif;
  text-align: center;
  font-size: 30pt;
  color: rgb(50, 50, 50);

}

.text{
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  color: rgb(50, 50, 50);
  margin-bottom: 100px;
}

.einleitungstext{
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  text-align: justify;
}

.adressebild{
  width: 150px;
  float: left;
  margin-left: 195px;
}

.adresse{
  float: right;
  margin-right: 395px;
}

.emailbild{
  width: 150px;
  float: left;
  margin-left: 345px;
  clear: both;
}

.email{
  float: right;
  margin-right: 320px;
  padding-top: 40px;
}

.telebild{
  width: 150px;
  float: left;
  margin-left: 495px;
  clear: both;
}

.tele{
  float: right;
  margin-right: 250px;
  padding-top: 40px;
}

.gecleart{
  clear: both;
}

.ich{
  float: left;
  display: block;
  width: 37%;
}
.lebenslauf{
  float: right;
  display: block;
  width: 55%;
}
table{
  font-size: 13pt;
  font-family: 'Open Sans', sans-serif;
}
td{
  padding-bottom: 15px;
}
.datum{
  padding-right: 20px;
  text-align: left;
}
.interessenbild{
  width: 150px;
  float: left;
  margin-left: 150px;
  clear: both;
  margin-top: 60px;
}

.interesse{
  float: right;
  margin-top: 60px;
  margin-right: 150px;
  width: 50%;
  font-family: 'Open Sans', sans-serif;
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

.slideshow-container1 {
  max-width: 600px;
  position: relative;
  margin: auto;
}

.slideshow-container2 {
  max-width: 500px;
  position: relative;
  margin: auto;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(50,50,50,0.5);
}

/* Caption text */
.captiontext {
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: grey;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
