*{
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  background: rgb(159, 181, 187);
}


.hintergrund{
  display: block;
  /*position: absolute;
  z-index: 1;*/
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  height:100%;
  width: auto;
}
/*
.content{
  z-index: 2;
  position: absolute;

}

.kontakt{
  width: 5%;
  margin-top: 50px;
  margin-left: 300px;
  float: left;
}

.sonstiges{
  width: 10%;
  margin-top: 0;
  margin-right: 130px;
  float: right;
}

figcaption {
  opacity: 0;
  bottom: -3em;
  transition: all 1s ease;
  text-align: center;
  font-size: 10pt;
  font-family: sans-serif;
  background-color: rgb(213, 233, 239, 0.5)
}

figure:hover figcaption {
  opacity: 1;
  bottom: 0;
}
