*{
  box-sizing: border-box;
}

body{
  background: rgb(159, 181, 187);
}


.hintergrund{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  z-index: 1;
}

.content{
  z-index: 2;
  position: absolute;

}

.kontakt{
  width: 10%;
  margin-top: 50px;
  margin-left: 300px;
  float: left;
}

.sonstiges{
  width: 14%;
  margin-top: 0;
  margin-right: 130px;
  float: right;
}

figcaption {
  opacity: 0;
  bottom: -3em;
  transition: all 1s ease;
  text-align: center;
  font-size: 10pt;
  font-family: sans-serif;
}

figure:hover figcaption {
  opacity: 1;
  bottom: 0;
}
