*{
  box-sizing: border-box;
}
html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
body{
  background: rgb(159, 181, 187);
}
a:link{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
}
a:hover{
  color: white;
}
a:active{
  color: white;
}
.rund{
  display: block;
  border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
}
.start{
  float: left;
  margin-left: 80px;
  margin-top: 35px;
  width: 140px;
}
.name{
  float: right;
  margin-right: 80px;
  margin-top: 60px;
  width: 90px;
}
.content{
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 250px;
}
h1{
  font-family: 'Rock Salt',sans-serif;
  text-align: center;
  font-size: 50pt;
  color: rgb(50, 50, 50);
  font-weight: 700;
  margin-bottom: 100px;
}
h2{
  font-family: 'Rock Salt',sans-serif;
  text-align: center;
  font-size: 30pt;
  color: rgb(50, 50, 50);
}
.text{
  font-family: 'Raleway', sans-serif;
  font-size: 13pt;
  color: rgb(50, 50, 50);
  margin-bottom: 100px;
}
.einleitungstext{
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  text-align: justify;
}
.gedicht{
  margin-bottom: 70px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: justify;
  font-size: 15pt;
}
.lesetext{
  margin-bottom: 70px;
  margin-top: 100px;
  width: 75%;
  text-align: justify;
  font-size: 15pt;
  float: right;
  font-family: 'Raleway', sans-serif;
  color: rgb(50, 50, 50);
}
.anmerkungen{
  margin-bottom: 70px;
  margin-top: 880px;
  width: 22%;
  font-size: 12pt;
  float: left;
  font-family: 'Raleway', sans-serif;
  color: rgb(50, 50, 50);
}
.adressebild{
  width: 9%;
  float: left;
  margin-left: 24%;
  padding-top: 15px;
}
.adresse{
  float: right;
  margin-right: 40%;
}
.emailbild{
  width: 9%;
  float: left;
  margin-left: 38%;
  clear: both;
}
.email{
  float: right;
  margin-right: 33%;
  padding-top: 20px;
}
.telebild{
  width: 9%;
  float: left;
  margin-left: 52%;
  clear: both;
}
.tele{
  float: right;
  margin-right: 27%;
  padding-top: 20px;
}
.gecleart{
  clear: both;
}
.ich{
  float: left;
  display: block;
  width: 37%;
}
.ich img{
  width: 100%;
}
.bilddaneben{
  float: left;
  display: block;
  width: 35%;
  margin-left: 60px;
}
.bilddaneben img{
  width: 100%;
}
.lebenslauf{
  float: right;
  display: block;
  width: 55%;
}
.daneben{
  float: right;
  display: block;
  width: 45%;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-size: 13pt;
  margin-right: 60px;
  margin-top: 70px;
}
figcaption {
  opacity: 0;
  bottom: -3em;
  transition: all 1s ease;
  text-align: center;
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
  color: rgb(50, 50, 50);
  margin-top: 35px;
}
figure:hover figcaption {
  opacity: 1;
  bottom: 0;
  margin-top: -10px;
}
figure{
  margin-left: 0;
  margin-right: 0;
}
table{
  font-size: 13pt;
  font-family: 'Raleway', sans-serif;
}
td{
  padding-bottom: 15px;
}
.datum{
  padding-right: 20px;
  text-align: left;
}
.interessenbild{
  width: 13%;
  float: left;
  margin-left: 230px;
  clear: both;
  margin-top: 45px;
}
.interesse{
  float: right;
  margin-top: 80px;
  margin-right: 230px;
  width: 40%;
  font-family: 'Raleway', sans-serif;
}
.projektuebersicht{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.einbild{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.einbild1{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.einzelprojekt{
  width: 228px;
}
.einzelprojekt1{
  width: 228px;
}
.yfuuebersicht{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.einzelyfu{
  width: 300px;
}
.einzelmusi{
  width: 440px;
}
.einzeltanz{
  width: 304px;
}
.einzeltanz1{
  width: 200px;
}
.einzeltanz2{
  width: 350px;
}
.einzelreise{
  width: 90%;
}
.einzelillu{
  width: 270px;
}
.einzelprozess{
  width: 75%;
}
.einzelprozess1{
  width: 45%;
}
.einzelbild{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: block;
  margin-top: 100px;
}
li{
  display: inline-block;
  list-style-type: none;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
ul{
  padding:0;
  margin-left: auto;
  margin-right: auto;
}
.video{
  max-width: 800px;
  margin:auto;
  position: relative;
}
/* Tablet */
@media (max-width: 1153px) {
  .content{
    width: 95%;
  }
  .text{
    font-size: 11pt;
  }
  .einleitungstext{
    width: 80%;
  }
  .bilddaneben img{
    width: 100%;
  }
  .lebenslauf{
    width: 60%;
  }
  table{
    font-size: 11pt;
  }
  td{
    padding-bottom: 10px;
  }
  .adressebild{
    width: 80px;
    margin-left: 23%;
  }
  .emailbild{
    width: 80px;
    margin-left: 37%;
  }
  .telebild{
    width: 80px;
    margin-left: 51%;
  }
  .daneben{
    width: 50%;
    font-size: 11pt;
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }
  figcaption {
    font-size: 20pt;
    margin-top: 5px;
    opacity: 1;
    bottom: 0;
  }
  figure:hover figcaption {
    opacity: 1;
    bottom: 0;
    margin-top: 10px;
  }
  .interessenbild{
    width: 110px;
    margin-left: 30%;
    margin-top: 15px;
  }
  .interesse{
    margin-top: 30px;
    margin-right: 30%;
    width: 250px;
    font-size: 11pt;
  }
  .einzelprojekt1{
    width: 155px;
  }
  .einzelyfu{
    width: 270px;
  }
  .einzelmusi{
    width: 270px;
  }
  .einzeltanz{
    width: 270px;
  }
  .einzeltanz1{
    width: 177px;
  }
  .einzelreise{
    width: 90%;
  }
  .einzelprozess{
    width: 90%;
  }
  .einzelprozess{
    width: 80%;
  }
  .einbild1{
    width: 65%;
  }
  .einzelbild{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: block;
    margin-top: 100px;
  }
  .gedicht{
    width: 300px;
    position: relative;
    font-size: 12pt;
  }
  .lesetext{
    width: 70%;
    position: relative;
    font-size: 11pt;
    float:none;
    margin-left: auto;
    margin-right: auto;
  }
  .anmerkungen{
    max-width: 300px;
    position: absolute;
    opacity: 0;
    float: none;
    font-size: 1pt;
    z-index: -10;
  }
}
/* kleines Tablet */
@media (max-width: 996px) {
  .lebenslauf{
    width: 50%;
  }
  .ich{
    width: 45%;
  }
  .adressebild{
    margin-left: 0;
  }
  .emailbild{
    margin-left: 0;
  }
  .telebild{
    margin-left: 0;
  }
  .adresse{
    margin-right: 500px;
  }
  .email{
    margin-right: 500px;
  }
  .tele{
    margin-right: 500px;
  }
  .interessenbild{
    margin-left: 25%;
  }
  .interesse{
    margin-right: 25%;
  }
  .lesetext{
    width: 89%;
  }
  .einzelprozess{
    width: 90%;
  }
  .einzelprozess1{
    width: 50%;
  }
}
/* kleineres Tablet */
@media (max-width: 850px) {
  h1{
    font-size: 35pt;
  }
  h2{
    font-size: 20pt;
  }
  .adresse{
    margin-right: 410px;
  }
  .email{
    margin-right: 410px;
  }
  .tele{
    margin-right: 410px;
  }
  .lebenslauf{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
  }
  .daneben{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
  }
  .bilddaneben{
    width: 100%;
    float: none;
    margin: 0;
  }
  .bilddaneben img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
  }
  .ich{
    width: 100%;
  }
  .ich img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
  }
  table{
    font-size: 10pt;
  }
  .interessenbild{
    margin-left: 18%;
  }
  .interesse{
    margin-right: 18%;
    font-size: 10pt;
  }
  .einbild1{
    width: 80%;
  }
  .einzelprozess{
    width: 100%;
  }
  .einzelprozess1{
    width: 60%;
  }
}
/* Zwischen-Tablet */
@media (max-width: 770px) {
  .adresse{
    margin-right: 200px;
  }
  .email{
    margin-right: 200px;
  }
  .tele{
    margin-right: 200px;
  }
}
/* noch kleineres Tablet */
@media (max-width: 593px) {
  .text{
    font-size: 11pt;
  }
  .einleitungstext{
    width: 80%;
  }
  .lebenslauf{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
  }
  .ich{
    width: 100%;
  }
  .ich img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
  }
  table{
    font-size: 10pt;
  }
  td{
    padding-bottom: 10px;
  }
  .interessenbild{
    margin-left: 12%;
  }
  .interesse{
    margin-right: 12%;
  }
  .einzelprojekt1{
    width: 155px;
  }
  .einbild1{
    width: 85%;
  }
  .einzelprozess1{
    width: 80%;
  }
}
/* fürs Smartphone */
@media (max-width: 576px) {
  .start{
    width: 110px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .name{
    width: 70px;
    margin-right: 20px;
  }
  .content{
    width: 95%;
  }
  h1{
    font-size: 25pt;
    font-weight: 700;
  }
  h2{
    font-size: 15pt;
  }
  .text{
    font-size: 9pt;
    color: rgb(50, 50, 50);
    margin-bottom: 100px;
  }
  .einleitungstext{
    width: 95%;
  }
  .ich{
    width: 100%;
  }
  .ich img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }
  .adresse{
    margin-right: 100px;
    padding-top: 10px;
  }
  .email{
    margin-right: 100px;
  }
  .tele{
    margin-right: 100px;
  }
  .bilddaneben{
  width: 100%;
  margin-left: 0;
  }
  .bilddaneben img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }
  .lebenslauf{
    width: 95%;
  }
  table{
    font-size: 9pt;
  }
  td{
    padding-bottom: 10px;
  }
  .daneben{
    width: 100%;
    text-align: justify;
    font-size: 9pt;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .interessenbild{
    width: 20%;
    margin-left: 10px;
    margin-top: 15px;
  }
  .interesse{
    margin-top: 20px;
    margin-right: 30px;
    width: 60%;
    font-size: 9pt;
  }
  .einzelprojekt1{
    width: 155px;
  }
  .einzeltanz1{
    width: 115px;
  }
  .einzeltanz2{
    width: 85%;
  }
  .einzelillu{
    width: 85%;
  }
  .einzelreise{
    width: 100%;
  }
  .einzelprozess1{
    width: 100%;
  }
  .einbild1{
    width: 95%;
  }
  .einzelbild{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: block;
    margin-top: 100px;
  }
  .gedicht{
    width: 230px;
  }
}

/* fürs schmale Smartphone */
@media (max-width: 393px) {
  h1{
    font-size: 22pt;
  }
  .adresse{
    margin-right: 40px;
  }
  .email{
    margin-right: 40px;
  }
  .tele{
    margin-right: 40px;
  }
}
/* Slideshow container */
.slideshow-container {
  max-width: 850px;
  position: relative;
  margin: auto;
}
.slideshow-container1 {
  max-width: 550px;
  position: relative;
  margin: auto;
}
.slideshow-container2 {
  max-width: 360px;
  position: relative;
  margin: auto;
}
.slideshow-container3 {
  max-width: 450px;
  position: relative;
  margin: auto;
}
.slideshow-container4 {
  max-width: 750px;
  position: relative;
  margin: auto;
}
.slideshow-container5 {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(50,50,50,0.5);
}
/* Caption text */
.captiontext {
  color: white;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.captiontext1 {
  color: rgb(50,50,50);
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot6 {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot4 {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: grey;
}
.active, .dot6:hover {
  background-color: grey;
}
.active, .dot4:hover {
  background-color: grey;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
