*{
  box-sizing: border-box;
}
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
}
body{
  background: rgb(159, 181, 187);
}
.hintergrund{
  display: block;
  z-index: -10;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  min-height:100%;
  height:100%;
}
.scrollbereich{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: auto;
z-index: 2;
}
.sonstiges{
  height: 150px;
  width: 150px;
  margin-top: 0;
  margin-left: 65%;
  z-index: 3;
  position: absolute;
  display: block;
}
.projekte{
  height: 100px;
  width: 120px;
  margin-top: 230px;
  margin-left: 24%;
  z-index: 4;
  position: absolute;
  display: block;
}
.uebermich{
  height: 150px;
  width: 200px;
  margin-top: 284px;
  margin-left: 36%;
  z-index: 5;
  position: absolute;
  display: block;
}
.malerei{
  height: 100px;
  width: 100px;
  margin-top: 445px;
  margin-left: 56%;
  z-index: 6;
  position: absolute;
  display: block;
}
.schnitte{
  height: 130px;
  width: 150px;
  margin-top: 300px;
  margin-left: 74%;
  z-index: 7;
  position: absolute;
  display: block;
}
.zeichnungen{
  height: 100px;
  width: 160px;
  margin-top: 380px;
  margin-left: 15%;
  z-index: 8;
  position: absolute;
  display: block;
}
.illu{
  height: 170px;
  width: 100px;
  margin-top: 445px;
  margin-left: 26.5%;
  z-index: 9;
  position: absolute;
  display: block;
}
.kontakt{
  height: 80px;
  width: 120px;
  margin-top: 80px;
  margin-left: 420px;
  z-index: 2;
  position: absolute;
  display: block;
}
a {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-decoration: none;
  display:block;
  position:absolute;
  /*background: rgba(255,255,255, 0.5 );*/
  width:100%;
  transition: display 1s;
  height:100%;
  text-align:center;
  opacity: 0;
}
.kontakt:hover a {
  opacity: 1;
}
.malerei:hover a {
  opacity: 1;
}
.schnitte:hover a {
  opacity: 1;
}
.illu:hover a {
  opacity: 1;
}
.zeichnungen:hover a {
  opacity: 1;
}
.uebermich:hover a {
  opacity: 1;
}
.projekte:hover a {
  opacity: 1;
}
.sonstiges:hover a {
  opacity: 1;
}
a:link{
  color: white;
  text-decoration: none;
}
a:visited{
  color: white;
}
a:hover{
  color: black;
}
a:active{
  color: black;
}
